@import url('https://fonts.googleapis.com/css?family=Lexend+Zetta|Ubuntu&display=swap');

.wrapper{
    display: grid;
    background-color:#333333;
    color:white;
    font-family: 'Ubuntu','Arial', 'Helvetica', 'sans-serif';
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "topb topb topb"
                         "navi main main"
                         "bott bott bott";
}

a{
    color:white;
    text-decoration: none;
}

li:hover{
    border-left-color: #323232;
}

img{
    width: 100%;
    height: auto;
}

h3{
    color: #666;
    text-decoration: none;
    font-size: 1.17em;
    margin-bottom: .5em;
}

hr {
    display: block;
    border-top: 1px solid #ccc;
}

/* HEADER */
.head-page{
    grid-area: topb;
    background-color: black;


}

.nav-bar{
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    padding-top: 1rem;
    align-items: flex-end;
    align-content:flex-end;
    
    
 
}

.craigs-logo{
    width: 150px;
    max-width: auto;
    padding: 1rem;
}

.apps-img{
    width: 50%;
    height: 50%;
}

.btn{
    display: block;
    width: 100%;
    background: #1e1e1e;
    text-align: center;
    border-radius: 5px;
    color: #656565;
    font-weight: bold;
    margin: 1rem auto;
    text-decoration: none;
    padding: .5rem 1rem;
    background-color: #333333;
}

/* SIDE BAR */
.side-bar{
    grid-area: navi;
    background-color: #333333;
    /* max-width: 20rem; */
}

.list-menu{
    background-color: black;
    border-bottom-right-radius: 1rem;
    position: sticky;
    top:0;
    left: 0;
    width: 6rem;
    box-shadow:  1rem 0 1rem 1rem rgba(0,0,0,0.4);

    float:left;
    overflow-y: auto;
    height: 375px;

}

.menu-item{
    display: grid;
    padding: 0 1rem;
    margin: 1rem 0;
    grid-template-columns: minmax(3rem, 6rem) auto;
    border-left: solid 8px transparent;
}

.left-menu-btn:hover{
    opacity:0.25 ;
}

/* .img-menu{
    width: 100%;
    height: 100%;
    margin: .5rem 0;
    background-color: cornsilk;
} */

/* MAIN SECTION */
.mid-search{
    text-align: center;
    padding: 1rem 1rem; 
}

/* .search-where{
    background-image: url('img/search.svg');
    background-repeat: no-repeat;
    position: relative;
    padding-right: 2em;
 

} */

.main{
    grid-area: main;
    background-color: #333333;
}

.deck-card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}

.card{
    border-radius: .5rem;
    background-color: black;
    width: 90%;
    height: auto;
    padding: 1rem 0;
    margin: 1rem 0;
    box-shadow:  1rem 0 1rem 1rem rgba(0,0,0,0.4);
}

.card-content{
    padding-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}

.read-more{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
}


.btn:hover{
    color: #fff;
}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.pagination{
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    padding: 0 2rem;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #858585;
    color: #252526;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* ADV SECTION */
/* .advertisement{
    grid-area: adve;
    background-color: limegreen;
} */

/* FOOTER */
.foot-page{
    grid-area: bott;
    background-color: black;
}
.social-media-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem 0;
    font-size: 2rem;
}

.policy{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    margin: 1rem 0;
    text-align: center;
}

/* MEDIA QUERIES */
@media screen and (min-width:700px){
    .card{
        flex: 45%;
        max-width: 45%
    }
}

@media screen and (min-width:800px){
    .card{
        flex: 45%;
        max-width: 45%
    }
}

@media screen and (min-width:1024px){
    .card{
        flex: 18%;
        max-width: 18%
    }
}